img {
  max-width: 500px;
}

.header {
  font-weight: bold;
  font-size: 400%;
  color: grey;
}

.middle {
  font-style: italic;
}

.fave {
  font-weight: bold;
  font-size: 120%;
}

.color {
  color: grey;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  font-size: 200%;
}
